.DS_Store

# Node modules
node_modules

**/app/public

# Terraform
**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

.terraform.lock.hcl

.env.local
.env

*.zip
.env.local
sample_mflix.movies.json
